**/.git
**/node_modules
**/vendor
**/registry-cache
**/image-source-cache
**/ai-changes
**/.venv
**/__pycache__
**/*.o
**/*.a
**/*.so
**/*.pyc
**/*.test
**/.idea
**/.vscode
**/bin
**/obj
**/dist
**/build
